body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "uni 05_53";
    font-style: normal;
    font-weight: normal;
      src: local("uni 05_53"), url("@/assets/font/uni05_53.ttf") format("truetype");
    }